.header_top_box {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 70px;
    padding: 0 20px;
    margin: 0 auto;
    align-items: center;
}

.header_top_left,
.header_top_right,
.header_bottom_left,
.header_bottom_right,
.header_bottom_right a {
    display: flex;
    align-items: center;
}

.search_box {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 50px;
    width: 354px;
    height: 46px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-left: 20px;
}

.search_box input {
    outline: none;
    border: none;
    width: 269px;
    height: 22px;
    font-size: 16px;
}

.header_banner button {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.header_banner img {
    width: 180px;
    height: 50px;
}

.header_top_right a {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header_bottom_box {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 54px;
    padding: 0 20px;
    margin: 0 auto;
    align-items: center;
}

.header_bottom_left>li {
    padding: 18px;
}

.header_bottom_right a {
    padding-left: 20px;
}

.header_bottom_right p {
    padding-left: 8px;
    font-size: 12px;
    font-weight: 600;
}

.header_nav_container {
    background: #fbfbfb;
}

.header_nav_container::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
}

.header_nav_box {
    display: flex;
    width: 1280px;
    height: 58px;
    padding: 0 20px;
    margin: 0 auto;
    align-items: center;
}

.header_nav_left,
.header_nav_right {
    display: flex;
}

.header_nav_left h3 {
    padding-right: 24px;
    font-size: 16px;
    color: #484848;
}

.header_nav_right h3 {
    padding-right: 24px;
    font-size: 16px;
    color: blue;
}

.main_slide_wrapper {
    position: relative;
}

.background_slide {
    display: flex;
}

.background_slide img {
    width: 100%;
}

.background_slide li:nth-child(2) {
    display: none;
}

.background_slide li:nth-child(3) img {
    display: none;
}

.background_slide li:nth-child(4) img {
    display: none;
}

.background_slide li:nth-child(5) img {
    display: none;
}

.background_slide li:nth-child(6) img {
    display: none;
}

.background_slide li:nth-child(7) img {
    display: none;
}

.background_slide li:nth-child(8) img {
    display: none;
}

.background_slide li:nth-child(9) img {
    display: none;
}

.background_slide li:nth-child(10) img {
    display: none;
}

.background_slide li:nth-child(11) img {
    display: none;
}

.background_slide li:nth-child(12) img {
    display: none;
}

.background_slide li:nth-child(13) img {
    display: none;
}

.background_slide li:nth-child(14) img {
    display: none;
}

.background_slide li:nth-child(15) img {
    display: none;
}

.background_slide li:nth-child(16) img {
    display: none;
}

/* @keyframes background_slide_show {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0);
        display: block;
    }

    100% {
        transform: translateX(100%)
    }
} */

.button_slide {
    position: absolute;
    display: flex;
    bottom: 34px;
    left: 120px;

}

.button_slide img {
    border-radius: 10px;
    width: 52px;
    height: 52px;
}

.button_slide button {
    padding: 0 4px;
    /* margin: 400px 0 0 0; */
}

.ticket_open_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.ticket_open_box {
    display: flex;
}

.ticket_open_box img {
    width: 414px;
    height: 112px;
    border-radius: 8px;
    margin: 10px;
}

.top_rank_container,
.open_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_rank_container h2,
.open_container h2 {
    font-size: 28px;
    font-weight: 600;
    padding-top: 80px;
}

.top_rank_list {
    display: flex;
    margin: 0;
    margin: 28px 0;
}

.top_rank_list button {
    border: 1px solid #ddd;
    border-radius: 24px;
    padding: 8px 16px;
    margin: 0 4px;
}

.top_rank_list p {
    font-size: 16px;
    color: #484848;
}

.top_rank_list li:first-child p {
    color: #fff;
}

.top_rank_list li:first-child button {
    background: #000;
    font-weight: 600;
}

.top_rank_img_box {
    display: flex;
    position: relative;
}

.top_rank_box,
.open_box {
    display: flex;
    width: 1280px;
    
}

.top_rank_box a,
.top_rank_box img {
    width: 240px;
    margin-right: 20px;
}

.img_box {
    position: relative;
}

.img_rank {
    position: absolute;
    bottom: 26px;
    left: 24px;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 2px 2px 2px #000;;
}

.top_rank_box img {
    border-radius: 10px;
    border: 1px solid #ddd;
}

.top_rank_box h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 14px 0;
    line-height: 24px;
}

.b {
    font-size: 16px;
    margin-bottom: 10px;
}

.g {
    font-size: 16px;
    margin-bottom: 14px;
    color: #999999;
}

.bl,
.open_text span {
    font-size: 12px;
    font-weight: 600;
    color: #4154ff;
    border-radius: 4px;
    background: #dee2ff;
    padding: 4px 6px;
}

.gr {
    font-size: 12px;
    font-weight: 600;
    color: #7e7e81;
    border-radius: 4px;
    background: #f3f3fb;
    padding: 4px 6px;
}

.next_icon {
    background: #ffffffde;
    padding: 16px 22px;
    border-radius: 50%;
    position: absolute;
    right: -32px;
    top: 134px;
    border: 1px solid #ddd;
   
}

.rank_more_view {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 16px 40px;
    margin-top: 30px;
    align-items: center;
    gap: 6px;
}

.rank_more_view h3 {
    font-size: 18px;
    font-weight: 600;
}

.open_box {
    margin-top: 20px;
}

.open_box li {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 194px;
    display: flex;
    width: 414px;
}

.open_box a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.open_box img {
    border-radius: 10px;
    height: 190px;
}

.o_bl {
    font-size: 16px;
    color: #4154ff;
    font-weight: 500;
    margin: 14px 0;
    line-height: 24px;
    font-weight: 600;
}

.o_bk {
    font-size: 16px;
    font-weight: 500;
    margin: 14px 0;
    line-height: 24px;
    font-weight: 600;
}

.open_text p {
    font-size: 14px;
    margin-bottom: 14px;
    color: #999999;
}